@model List<Departamento>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Departamentos
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        @foreach (Departamento dept in Model)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Paginacion" asp-action="DepartamentoDetails" asp-route-id="@dept.IdDepartamento">@dept.Nombre</a>
            </li>
        }
    </ul>
</div>